Software/Node-RED/SpaceX/flows.json
[
    {
        "id": "85f70cff61788ba7",
        "type": "tab",
        "label": "IndoorHouse Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0e40a3c23a3aaab5",
        "type": "http request",
        "z": "85f70cff61788ba7",
        "name": "SpaceX API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.spacexdata.com/v5/launches/upcoming",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "7eea542825758bfd"
            ]
        ]
    },
    {
        "id": "6aca893e0556368e",
        "type": "mqtt in",
        "z": "85f70cff61788ba7",
        "name": "",
        "topic": "Projekt-Omega/api/spaceX",
        "qos": "2",
        "datatype": "auto",
        "broker": "d6cbb858c923edba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "0e40a3c23a3aaab5"
            ]
        ]
    },
    {
        "id": "adba33a140419c28",
        "type": "mqtt out",
        "z": "85f70cff61788ba7",
        "name": "",
        "topic": "Projekt-Omega/api/spaceX/launchDate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6cbb858c923edba",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "fbaa435c17f21325",
        "type": "mqtt out",
        "z": "85f70cff61788ba7",
        "name": "",
        "topic": "Projekt-Omega/api/spaceX/name",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6cbb858c923edba",
        "x": 1040,
        "y": 380,
        "wires": []
    },
    {
        "id": "7eea542825758bfd",
        "type": "function",
        "z": "85f70cff61788ba7",
        "name": "",
        "func": "return {\"payload\" : msg.payload[0]};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "a3228e386765278f",
                "968bde58b73bca52"
            ]
        ]
    },
    {
        "id": "a3228e386765278f",
        "type": "change",
        "z": "85f70cff61788ba7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "fbaa435c17f21325"
            ]
        ]
    },
    {
        "id": "968bde58b73bca52",
        "type": "change",
        "z": "85f70cff61788ba7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.date_utc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "adba33a140419c28"
            ]
        ]
    },
    {
        "id": "d6cbb858c923edba",
        "type": "mqtt-broker",
        "name": "UNI-MQTT-Server",
        "broker": "mqtt.iot.informatik.uni-oldenburg.de",
        "port": "2883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]